 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
}
.container{
    background:#213148 ;
    padding:15px 9%;
    padding-bottom: 100px;
   
}

.section1{
    text-align: center;
    margin: 150px ;
    
    
}
.section1 h1{
    margin: 0px 0px 25px 0px;
    font-family: inter,sans-serif;
    font-size: 500;

}
.section1 .colors{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;

}
.section1 .colors .color .color-img{
    height: 200px;
    background-color: blue;
}
