 *{
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

   
    
    
}

.container {
    background:#213148 ;
    padding:15px 9%;
    
    padding-bottom: 100px;
    color: var(--text-color);
    font-family: 15px 'Montsrrat' sans-serif;
   
}

.section1{
    text-align: center;
    margin: 150px ;
   
}
.section1 .heading {
    margin: 0px 0px 45px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 500;
    
}
.section1 .colors{
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;

}

.section1 .colors .color .color-img1{
    height: 250px;
    background-color: var(--background-color);
    margin-bottom: 15px;
        border-radius: 1rem;
      
}
.section1 .colors .color .color-img2{
    height: 250px;
    background-color: var(--primary-color);
    margin-bottom: 15px;
    border-radius: 1rem;
        
}
.section1 .colors .color .color-img3{
    height: 250px;
    background-color: var(--secondary-color);
    margin-bottom: 15px;
    border-radius: 1rem;
        
}
.section1 .colors .color .color-img4{
    height: 250px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
    border-radius: 1rem;
        
}
:root{
    --primary-color:#96ceb4;
    --secondary-color:#ffeead;
    --accent-color:#ffcc5c;
    --background-color:#ff6f69;
    --text-color:#d2d8dfbd;

}




